
<% content_for :breadcrumb do %>
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
      <li class="m-nav__item m-nav__item--home">
        <a href="#" class="m-nav__link m-nav__link--icon">
          <i class="m-nav__link-icon la la-home"></i>
        </a>
      </li>
      <li class="m-nav__separator">
        -
      </li>
      <li class="m-nav__item">
        <a href="/" class="m-nav__link">
											<span class="m-nav__link-text">
												Dashboard
											</span>
        </a>
      </li>
      <li class="m-nav__separator">
        -
      </li>
      <li class="m-nav__item">
        <a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												Register Users
											</span>
        </a>
      </li>

    </ul>
<% end %>


<div class="m-content">
  <div class="row">
    <div class="col-lg-12">
      <!--begin::Portlet-->
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
          												<span class="m-portlet__head-icon m--hide">
          													<i class="la la-gear"></i>
          												</span>
              <h3 class="m-portlet__head-text">
                User Form
              </h3>
            </div>
          </div>
        </div>

        <%= form_for(@member, html: {class: "m-form"}) do |form| %>
            <div class="m-portlet__body">
              <div class="m-form__section m-form__section--first">
                <div class="form-group m-form__group">
                  <label for="example_input_full_name">
                    User Nick Name:
                  </label>
                  <%= form.text_field :name, id: :member_name, class: "form-control m-input", placeholder: "Enter full name" %>
                  <span class="m-form__help">
          														Please enter user's nick name
          													</span>
                </div>
                <div class="form-group m-form__group">
                  <label>
                    Email address:
                  </label>
                  <%= form.text_field :email, id: :member_email, class: "form-control m-input", placeholder: "Enter email" %>

                  <span class="m-form__help">
          														We'll never share your email with anyone else
          													</span>
                </div>
                <div class="form-group m-form__group">
                  <label>
                    Fixed rate
                  </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
          															<span class="input-group-text" id="basic-addon2">
          																$
          															</span>
                    </div>
                    <%= form.number_field :fixed_rate, id: :member_job_rate, class: "form-control m-input"  %>

                  </div>
                </div>
                <div class="form-group m-form__group">
                  <label>
                    Time rate (per hour)
                  </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
          															<span class="input-group-text" id="basic-addon2">
          																$
          															</span>
                    </div>
                    <%= form.number_field :time_rate, id: :member_job_rate, class: "form-control m-input"  %>

                  </div>
                </div>
                <div class="form-group m-form__group">
                  <label>
                    Day rate
                  </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
          															<span class="input-group-text" id="basic-addon2">
          																$
          															</span>
                    </div>
                    <%= form.number_field :day_rate, id: :member_job_rate, class: "form-control m-input"  %>

                  </div>
                </div>
                <div class="form-group m-form__group">
                  <label>
                    Night rate
                  </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
          															<span class="input-group-text" id="basic-addon2">
          																$
          															</span>
                    </div>
                    <%= form.number_field :night_rate, id: :member_job_rate, class: "form-control m-input"  %>

                  </div>
                </div>

                <div class="form-group m-form__group">
                  <label>
                    Hotel Fixed cost
                  </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
          															<span class="input-group-text" id="basic-addon2">
          																$
          															</span>
                    </div>
                    <%= form.number_field :hotel_fixed_cost, id: :member_job_rate, class: "form-control m-input"  %>

                  </div>
                </div>
                <div class="form-group m-form__group">
                  <label>
                    Normal Fixed cost
                  </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
          															<span class="input-group-text" id="basic-addon2">
          																$
          															</span>
                    </div>
                    <%= form.number_field :normal_fixed_cost, id: :member_job_rate, class: "form-control m-input"  %>

                  </div>
                </div>

                <div class="form-group m-form__group">
                  <label>
                    Time Cost (per hour)
                  </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
          															<span class="input-group-text" id="basic-addon2">
          																$
          															</span>
                    </div>
                    <%= form.number_field :time_cost, id: :member_job_rate, class: "form-control m-input"  %>

                  </div>
                </div>
                <div class="form-group m-form__group">
                  <label>
                    Day Cost
                  </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
          															<span class="input-group-text" id="basic-addon2">
          																$
          															</span>
                    </div>
                    <%= form.number_field :day_cost, id: :member_job_rate, class: "form-control m-input"  %>

                  </div>
                </div>
                <div class="form-group m-form__group">
                  <label>
                    Night Cost
                  </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
          															<span class="input-group-text" id="basic-addon2">
          																$
          															</span>
                    </div>
                    <%= form.number_field :night_cost, id: :member_job_rate, class: "form-control m-input"  %>

                  </div>
                </div>
              </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions m-form__actions">
                <%= form.submit "Create", class: "btn btn-primary" %>
                <%= link_to "Cancel", :back, class: "btn btn-secondary" %>
              </div>
            </div>
        <% end %>
        <!--end::Form-->
      </div>
      <!--end::Portlet-->

    </div>

  </div>
</div>