
<% content_for :breadcrumb do %>
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
      <li class="m-nav__item m-nav__item--home">
        <a href="#" class="m-nav__link m-nav__link--icon">
          <i class="m-nav__link-icon la la-home"></i>
        </a>
      </li>
      <li class="m-nav__separator">
        -
      </li>
      <li class="m-nav__item">
        <a href="/" class="m-nav__link">
											<span class="m-nav__link-text">
												Dashboard
											</span>
        </a>
      </li>
      <li class="m-nav__separator">
        -
      </li>
      <li class="m-nav__item">
        <a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												New Order
											</span>
        </a>
      </li>

    </ul>
<% end %>


<div class="m-content">
  <div class="row">
    <div class="col-lg-12">
      <!--begin::Portlet-->
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
          												<span class="m-portlet__head-icon m--hide">
          													<i class="la la-gear"></i>
          												</span>
              <h3 class="m-portlet__head-text">
                Create New Order
              </h3>
            </div>
          </div>
        </div>

        <%= form_for(@order, html: {class: "m-form"}) do |form| %>
            <div class="m-portlet__body">
              <div class="m-form__section m-form__section--first">
                <div class="form-group m-form__group">
                  <label for="example_input_full_name">
                    Member
                  </label>
                  <%= form.select :member_id, Member.all.map {|x| [x.name, x.id]}, {}, {class: "form-control m-input m-input--air m-input--pill", id: "job_type"} %>
                  <span class="m-form__help">
          														Please assign new member
          													</span>
                </div>
                <div class="form-group m-form__group">
                  <label for="example_input_full_name">
                    Job Type:
                  </label>
                  <%= form.select :job_type, [['Time Tracking (时间)', 'Time Tracking'], ['Fixed (工)', 'Fixed'], ['Day (天)', 'Day'], ['O.N (夜)', 'O.N']], {}, {class: "form-control m-input m-input--air m-input--pill", id: "job_type"} %>
                  <span class="m-form__help">
          														Please enter user's Job Type
          													</span>
                </div>

                <div class="form-group m-form__group">
                  <label for="example_input_full_name">
                    Start Time:
                  </label>
                  <div class="input-group date">
                    <%= form.text_field :starttime, class: "form-control m-input", id: "m_datetimepicker_2", value: Time.now %>

                    <div class="input-group-append">
                                 													<span class="input-group-text">
                                 														<i class="la la-calendar-check-o glyphicon-th"></i>
                                 													</span>
                    </div>
                  </div>
                  <span class="m-form__help">
        														Please enter user's Start Time
        													</span>
                </div>
                <div class="form-group m-form__group">
                  <label for="example_input_full_name">
                    End Time:
                  </label>
                  <div class="input-group date">
                    <%= form.text_field :endtime, class: "form-control m-input", id: "m_datetimepicker_2", value: Time.now %>
                    <div class="input-group-append">
                                 													<span class="input-group-text">
                                 														<i class="la la-calendar-check-o glyphicon-th"></i>
                                 													</span>
                    </div>
                  </div>
                  <span class="m-form__help">
        														Please enter user's End Time
        													</span>
                </div>
                <div class="form-group m-form__group">
                  <label for="example_input_full_name">
                    Status:
                  </label>
                  <%= form.select :status, [['Cash (现金)', 'Cash'], ['Credit (挂单)', 'Credit']], {}, {class: "form-control m-input m-input--air m-input--pill", id: "payment-type"} %>
                  <span class="m-form__help">
        														Please enter status
        													</span>
                </div>
                <div class="form-group m-form__group" id="business" style="display:none;">
                  <label for="exampleSelect1">
                    Name
                  </label>
                  <%= form.text_field :creditor_name, class: "form-control m-input", placeholder: "名字 ／ 代号" %>

                </div>

              </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions m-form__actions">
                <%= form.submit "Create", class: "btn btn-primary" %>
                <%= link_to "Cancel", :back, class: "btn btn-secondary" %>

              </div>
            </div>
        <% end %>
        <!--end::Form-->
      </div>
      <!--end::Portlet-->

    </div>

  </div>
</div>