

<% content_for :breadcrumb do %>
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
      <li class="m-nav__item m-nav__item--home">
        <a href="#" class="m-nav__link m-nav__link--icon">
          <i class="m-nav__link-icon la la-home"></i>
        </a>
      </li>
      <li class="m-nav__separator">
        -
      </li>
      <li class="m-nav__item">
        <a href="/" class="m-nav__link">
											<span class="m-nav__link-text">
												Dashboard
											</span>
        </a>
      </li>
      <li class="m-nav__separator">
        -
      </li>
      <li class="m-nav__item">
        <a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												Members
											</span>
        </a>
      </li>

    </ul>
<% end %>

<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <!--begin:: Widgets/Application Sales-->
      <div class="m-portlet m-portlet--full-height  m-portlet--rounded">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                All Members
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="tab-content">
            <div class="tab-pane active" id="m_widget11_tab1_content">
              <!--begin::Widget 11-->
              <div class="m-widget11">
                <div class="table-responsive">
                  <!--begin::Table-->
                  <table class="table">
                    <!--begin::Thead-->
                    <thead>
                    <tr>
                      <td class="m-widget11__label">
                        #ID
                      </td>
                      <td class="m-widget11__app">
                        User Name
                      </td>
                      <td class="m-widget11__change">
                        Orders Completed
                      </td>
                      <td class="m-widget11__change">
                        Costs
                      </td>
                      <td class="m-widget11__price">
                        Working Days
                      </td>
                      <td class="m-widget11__total m--align-right">
                        Total
                      </td>
                      <td class="m-widget11__total m--align-right">

                      </td>
                    </tr>
                    </thead>
                    <!--end::Thead-->
                    <!--begin::Tbody-->
                    <tbody>
                    <tr>
                      <% @users.each do |user| %>
                          <td>

                          </td>
                          <td>
          																		<span class="m-widget11__title">
          																			<%= user.name %>
          																		</span>
                          </td>
                          <td>
                            <%= user.orders.count %>
                          </td>
                          <td>
                            <%= user.job_rate %>
                          </td>
                          <td>
                            <%= ((DateTime.now.to_time - user.created_at.to_time) / 1.day).floor %>
                          </td>
                          <td class="m--align-right m--font-brand">
                            <% if Order.where(member_id: user).exists? %>
                                $<%= Order.where(member_id: user).pluck(:amount).inject(0){|sum,x| sum + x } %>
                            <% else %>
                                $0
                            <% end %>
                          </td>

                          <td class="m--align-right m--font-brand">
                            <%= link_to "Edit", edit_member_path(user.id) %>
                          </td>
                          </tr>
                      <% end %>
                      </tbody>
                    <!--end::Tbody-->
                  </table>
                  <!--end::Table-->
                </div>
                <div class="m-widget11__action m--align-right">
                  <button type="button" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--hover-brand">
                    Generate Report
                  </button>
                </div>
              </div>
              <!--end::Widget 11-->
            </div>
          </div>
        </div>
      </div>
      <!--end:: Widgets/Application Sales-->
    </div>
  </div>
</div>